/*Estilização de todo o corpo do site e gerais.*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black-heavy);
}

/*Estilização de cores por variaveis para facilidade na mudança das cores*/
:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #d6d6d6;
    --color-text-out: #90908e;
    --color-primary: #ffbf00: --color-none: #qqqqqq;
    /*Linha bugada*/
    --color-black-heavy: #000000;
    --color-secondary: #a39432;
    --color-three: #f5cb4d6d;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;


}

h1 {
    color: var(--color-white);
    font-size: 50px;
    text-transform: uppercase;
}

.container {
    width: 100rem;
    height: 600px;
}

.text-color {
    color: var(--color-text);
}

/*Itens ocultos nessa resolução*/
.botao-reserva-oculto {
    display: none;
}

.contatos-link-2 {
    display: none;
}


/*Estilização barra de navegação.*/
.button-header {
    height: 40px;
    width: 280px;
    border: none;
    background-color: rgb(9, 9, 9);
    color: var(--color-text);
    border-radius: 0 10px 0 10px;
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-white);
    margin-right: 50px;
    font-size: 22px;
}

.button-header:hover {
    background-color: var(--color-secondary);
    border: none;
}

.navegacao-index {
    font-size: 30px;
}

a {
    font-size: 16px;
    margin-left: 20px;
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: #7f7740;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header .section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/*Estilização das ondas em transição*/
#secaoWaves {
    width: 100%;
    height: 130%;
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../IMG/wave\ \(3\).png);
    background-size: 1500px 100px;
}

section .wave.wave1 {
    animation: animated 40s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animated {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

section .wave.wave2 {
    animation: animated2 35s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animated2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

section .wave.wave3 {
    animation: animated3 25s linear infinite;
    z-index: 998;
    opacity: 0.3;
    animation-delay: -2s;
    bottom: 15px;
}

@keyframes animated3 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

section .wave.wave4 {
    animation: animated4 30s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animated4 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

/*Estilização seção sobre nos*/
#secaoSobreNos {
    width: 100rem;
    height: 350px;
}
/*Estilização seção infraestrutura*/
.secao-infraestrutura{
    
    #infraestrutura{
        margin-bottom: 60px;
    }

    .infra-class{
        font-size: 30px;
    }

    .carrossel-infra{
        margin-top: -45px;
    }
    
}

.img-carrossel-one {
    width: 600px;
}
/*Estilização seção contatos*/
#secaoContatos {
    width: 100rem;
    height: 550px;
}
.contatos-link {
    font-size: 30px;
    margin-left: 10px;
}
/*Estilização seção Feedbacks*/
#secaoFeedbacks {
    height: 1480px;
}
#inputFeedback {
    height: 80px;
}
#botaoEnviarFeedback {
    height: 40px;
    padding: 2px;
    margin: auto;
}
#formFeedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Estilização seção reserva*/
#secaoReserva {
    height: 750px;
}
.input-name {
    width: 400px;
}
.container:last-child {
    height: 20px;
}
.button-card {
    width: 100px;
    height: 35px;
    background-color: var(--color-secondary);
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
    color: var(--color-text);
    border-radius: 0 10px 0 10px;
}
.imgs-card {
    height: 100px;
}
/*Estilização dos serviços extras e cards.*/
.title-secao {
    display: flex;
    justify-content: center;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    width: 200px !important;
    height: 280px !important;
    margin-left: -115px;
}

.container .totalizador {
    width: 400px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.btn-conc-reserva {
    color: var(--color-text);
    background-color: var(--color-secondary);
    width: 140px;
    margin-right: 15px;
}

/*Estilização carrossel dos serviços extras em reserva*/
/* Estilização do carrossel */
.carousel-reserva {
    width: 100%;
}

/* Estilização dos slides do carrossel */
.carousel-inner-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilização das cartas dentro do carrossel */
.carousel-item-reserva {
    text-align: center;
}


/*Estilização rodape.*/
#rodape {
    height: 100px;
}

/*Estilização do botão que leva ao topo instantaneamente.*/
#botaoHome {
    position: fixed;
    width: 62px;
    height: 62px;
    bottom: 40px;
    right: 25px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 1px 1px 2px var(--color-separate);
    z-index: 1000;
}

#botaoHome:hover {
    border: 1px solid var(--color-background);
}

/*Estilização do botão que redireciona diretamente ao suporte no whatsapp.*/
#botaoWhats {
    position: fixed;
    width: 62px !important;
    height: 62px !important;
    bottom: 115px;
    right: 25px;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 1px 1px 2px var(--color-separate);
    z-index: 1000;
}

#botaoWhats:hover {
    border: 1px solid var(--color-background);
}




@media screen and (max-width : 1400px) {

    body {
        font-size: 30px;
    } 

    #navegacao {
        margin: 10px;

        .button-header {
            width: 200px;
        }
    }


    .botao-reserva-oculto {
        display: none;
    }

    .secao-sobre-nos {
        font-size: 20px;
        height: auto;
    }

   .secao-infraestrutura {
        font-size: 20px;

        #infraestrutura{
            margin-bottom: 100px;
        }

        .infra-class {
            width: 500px;
            margin-bottom: 0px;
            margin-top: 50px;
            font-size: 27px;
        }

        #carouselExampleFadeOne {
            width: 600px;
            margin-top: -50px;
            margin-bottom: 0px;

        }
    } 

    .contatos-link-2 {
        display: none;
    }

    #secaoFeedbacks {
        
        height: 2400px;

        .container-feed{
            width: 1200px;
        }
        
    }


    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 200px !important;
        height: 280px !important;
        margin-left: -115px;
        margin-bottom: 0px;
    }

    #secaoReserva {
        height: 800px;
    }


    .secao-rodape {
        font-size: 18px;
        padding-top: 15px;
    }

    #botaoHome {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 25px;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 0px 0px 0px var(--color-separate);
        z-index: 1000;
    }

    #botaoWhats {
        position: fixed;
        width: 50px !important;
        height: 50px !important;
        bottom: 115px;
        right: 25px;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px var(--color-separate);
        z-index: 1000;
    }
}

/*Responsividade*/
@media screen and (max-width : 1100px) {

    body {
        font-size: 20px;
    }

    #navegacao {
        margin: 10px;

        .button-header {
            width: 180px;
        }
    }


    .botao-reserva-oculto {
        display: none;
    }

    .secao-sobre-nos {
        font-size: 20px;
        height: auto;
    }

    .secao-infraestrutura {
        font-size: 20px;
        height: 1000px;

        #infraestrutura{
            margin-bottom: 50px;
        }

        .infra-class {
            width: 900px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        #carouselExampleFadeOne {
            width: 800px;
            margin-top: 0px;
            margin-bottom: 0px;

        }
    }

    .secao-contatos {

        margin-bottom: 50px;


        .imagem-celular {
            width: 300px;
            height: 450px;
            margin-top: 50px;
            margin-left: -25px;
            margin-right: 70px;
        }

        .icones-contato {
            font-size: 20px;
            width: 300px;
            margin-top: 20px;
            margin-left: 150px;

            .contatos-link {
                padding: 5px 5px 10px 5px;
            }

        }

        .contatos-link-2 {
            display: none;
        }


    }

    #secaoFeedbacks {
        height: 2030px;

        .container-feed {
            width: 1000px;
        }
        .title-feedback{
            margin-top: 50px!important;
        }
    }



    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 200px !important;
        height: 280px !important;
        margin-left: -115px;
        margin-bottom: 0px;
    }

    #secaoReserva {
        height: 800px;
    }


    .secao-rodape {
        font-size: 18px;
        padding-top: 15px;
    }

    #botaoHome {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 25px;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 0px 0px 0px var(--color-separate);
        z-index: 1000;
    }

    #botaoWhats {
        position: fixed;
        width: 50px !important;
        height: 50px !important;
        bottom: 115px;
        right: 25px;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px var(--color-separate);
        z-index: 1000;
    }
}

@media screen and (max-width : 993px) {

    body {
        font-size: 20px;
    }

    #navegacao {
        margin: 10px;

        .nav-item {
            margin-right: 10px;
            font-size: 25px;
        }

        .button-header {
            display: none;
        }

        .botao-reserva-oculto {
            display: block;
            width: 150px;
            background-color: var(--color-three);
            border: none;
            color: var(--color-white);
            height: 40px;
            border-radius: 20px;
            margin-right: 188px;
        }

        .botao-reserva-oculto:hover {
            background-color: #90908e;
        }
    }

    .secao-sobre-nos {
        font-size: 20px;
        height: auto;
    }

    .secao-infraestrutura {
        font-size: 20px;
        height: 900px;

        .infra-class {
            width: 900px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        #carouselExampleFadeOne {
            width: 600px;
            margin-top: 0px;
            margin-bottom: 0px;

        }
    }

    .secao-contatos {

        margin-bottom: 50px;


        .imagem-celular {
            width: 200px;
            height: 400px;
            margin-top: 40px;
            margin-left: -110px;
            margin-right: 100px;
        }

        .icones-contato {
            font-size: 20px;
            width: 300px;
            margin-top: 20px;
            margin-left: 150px;

            .contatos-link {
                padding: 5px 5px 10px 5px;
            }

        }

        .contatos-link-2 {
            display: none;
        }

    }

    #secaoFeedbacks {
        height: 2100px;

        .container-feed {
            width: 1000px;
            margin-bottom: 0;
        }
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 200px !important;
        height: 280px !important;
        margin-left: -115px;
        margin-bottom: 0px;
    }

    #secaoReserva {
        height: 800px;
    }

    .secao-rodape {
        font-size: 18px;
        margin-top: 50px;
        padding: 40px;
    }

    #botaoHome {
        display: none;
    }

    #botaoWhats {
        display: none;
    }
}

@media screen and (max-width : 774px) {

    body {
        font-size: 20px;
    }

    .wave {
        display: none;
    }

    #navegacao {
        margin: 10px;

        .nav-item {
            margin-right: 10px;
            font-size: 25px;
        }

        .button-header {
            display: none;
        }

        .botao-reserva-oculto {
            display: block;
            width: 150px;
            background-color: var(--color-three);
            border: none;
            color: var(--color-white);
            height: 40px;
            border-radius: 20px;
            margin-right: 188px;
        }

        .botao-reserva-oculto:hover {
            background-color: #90908e;
        }
    }

    .secao-sobre-nos {
        font-size: 20px;
        height: auto;
    }

    .secao-infraestrutura {
        font-size: 20px;
        height: 750px;

        .infra-class {
            width: 900px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        #carouselExampleFadeOne {
            width: 450px;
            margin-top: 0px;
            margin-bottom: 0px;

        }
    }

    .secao-contatos {

        margin-bottom: 50px;


        .imagem-celular {
            width: 150px;
            height: 300px;
            margin-top: 40px;
            margin-left: -110px;
            margin-right: 100px;
        }

        .icones-contato {
            font-size: 20px;
            width: 300px;
            margin-top: 40px;
            margin-left: 100px;

            .contatos-link {
                display: none;
            }

        }

        .contatos-link-2 {
            display: inline;
            margin-right: -15px;
        }


    }

    #secaoFeedbacks {
        height: 2180px;

        .container-feed {
            width: 1000px;
            margin-bottom: 0;
        }
    }

    .carousel-reserva{
        width: 500px;
        left: -23px;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 200px !important;
        height: 280px !important;
        margin-left: -90px;
        margin-bottom: 0px;
    }

    #secaoReserva {
        height: 800px;
    }

    #botaoHome {
        display: none;
    }

    #botaoWhats {
        display: none;
    }
}

@media screen and (max-width : 767px) {

    body {
        font-size: 20px;
    }

    .wave {
        display: none;
    }

    #navegacao {
        margin: 10px;

        .nav-item {
            margin-right: 10px;
            font-size: 25px;
        }

        .button-header {
            display: none;
        }

        .botao-reserva-oculto {
            
            display: none;
            
        }
    }

    .secao-sobre-nos {
        font-size: 20px;
        height: auto;
    }

    .secao-infraestrutura {
        font-size: 20px;
        height: 900px;

        .infra-class {
            width: 900px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        #carouselExampleFadeOne {
            width: 450px;
            margin-top: 0px;
            margin-bottom: 0px;

        }
    }

    .secao-contatos {

        margin-bottom: 50px;


        .imagem-celular {
            width: 150px;
            height: 300px;
            margin-top: 40px;
            margin-left: -110px;
            margin-right: 100px;
        }

        .icones-contato {
            font-size: 20px;
            width: 300px;
            margin-top: 40px;
            margin-left: 100px;

            .contatos-link {
                display: none;
            }

        }

        .contatos-link-2 {
            display: inline;
            margin-right: -15px;
        }


    }

    #secaoFeedbacks {
        height: 2250px;

        .container-feed {
            width: 1000px;
            margin-bottom: 0;
        }
    }

    .carousel-reserva{
        width: 500px;
        left: -23px;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 200px !important;
        height: 280px !important;
        margin-left: -90px;
        margin-bottom: 0px;
    }

    #secaoReserva {
        height: 800px;
    }

    #botaoHome {
        display: none;
    }

    #botaoWhats {
        display: none;
    }
}

@media screen and (max-width : 575px) {
    
   
    body {
        font-size: 20px;
        width: 100vw;
    }

    .wave {
        display: none;
    }

    #navegacao {
        margin: 10px;

        .nav-item {
            margin-right: 10px;
            font-size: 25px;
        }

        .button-header {
            display: none;
        }

        .botao-reserva-oculto {
          display: none;
        }

        .botao-reserva-oculto:hover {
            background-color: #90908e;
        }
    }

    .secao-sobre-nos {
        display: flex;
    }

    .secao-infraestrutura {
        font-size: 20px;
        height: 750px;

        .infra-class {
            width: 900px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        #carouselExampleFadeOne {
            width: 450px;
            margin-top: 0px;
            margin-bottom: 0px;

        }
    }

    .secao-contatos {

        margin-bottom: 50px;


        .imagem-celular {
            width: 150px;
            height: 300px;
            margin-top: 40px;
            margin-left: -110px;
            margin-right: 100px;
        }

        .icones-contato {
            font-size: 20px;
            width: 300px;
            margin-top: 40px;
            margin-left: 100px;

            .contatos-link {
                display: none;
            }

        }

        .contatos-link-2 {
            display: inline;
            margin-right: -15px;
        }


    }

    #secaoFeedbacks {
        height: 2180px;

        .container-feed {
            width: 1000px;
            margin-bottom: 0;
        }
    }

    .carousel-reserva{
        width: 500px;
        left: -23px;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 200px !important;
        height: 280px !important;
        margin-left: -90px;
        margin-bottom: 0px;
    }

    #secaoReserva {
        height: 800px;
    }

    #botaoHome {
        display: none;
    }

    #botaoWhats {
        display: none;
    }
}